{{#description}}
    /* {{{description}}} */
{{/description}}
    @SerialName("{{name}}") val {{{variableName}}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}