/**
* Infusionsoft REST API
* No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
*
* OpenAPI spec version: 1.70.0.72014
* 
*
* NOTE: This class is auto generated by the swagger code generator program.
* https://github.com/swagger-api/swagger-codegen.git
* Do not edit the class manually.
*/
package io.mverse.client.infusionsoft.apis

import io.mverse.client.infusionsoft.models.Appointment
import io.mverse.client.infusionsoft.models.AppointmentList
import io.mverse.client.infusionsoft.models.Error
import io.mverse.client.infusionsoft.models.ObjectModel

import io.mverse.client.infusionsoft.infrastructure.*
import kotlinx.serialization.*
import com.google.gson.Gson


class AppointmentApi(bearerToken:String, basePath: String, gson: Gson) : ApiClient(basePath, bearerToken, gson) {

  /**
   *  Create an Appointment
   *  Creates a new appointment as the authenticated user
   *  * @param appointment appointment 
   *  * @return Appointment
   */ 
  @Suppress("UNCHECKED_CAST")
  fun createAppointment(appointment: Appointment) : Appointment {
    val requestBody = appointment
    val localVariableQuery: MultiValueMap = mutableMapOf()

    val contentHeaders: Map<String, String> = mapOf()
    val acceptsHeaders: Map<String, String> = mapOf("Accept" to "application/json")
    val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
    localVariableHeaders.putAll(contentHeaders)
    localVariableHeaders.putAll(acceptsHeaders)

    val localVariableConfig = RequestConfig(
       RequestMethod.POST,
       "/appointments",
       query = localVariableQuery,
       headers = localVariableHeaders
    )
    val response = request<Appointment>(localVariableConfig, requestBody)

    return when (response) {
      is Success<*> -> response.data as Appointment
      is Informational<*> -> TODO()
      is Redirection<*> -> TODO()
      is ClientError<*> -> throw ClientException(response.body as? String ?: "Client error")
      is ServerError<*> -> throw ServerException(response.message ?: "Server error")
      else -> throw IllegalStateException("Undefined ResponseType.")
    }
  }
  /**
   *  Delete an Appointment
   *  Deletes the specified appointment
   *  * @param appointmentId appointmentId 
   *  * @return void
   */ 
  fun deleteAppointment(appointmentId: Long) : Unit {
    val requestBody = null
    val localVariableQuery: MultiValueMap = mutableMapOf()

    val contentHeaders: Map<String, String> = mapOf()
    val acceptsHeaders: Map<String, String> = mapOf("Accept" to "application/json")
    val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
    localVariableHeaders.putAll(contentHeaders)
    localVariableHeaders.putAll(acceptsHeaders)

    val localVariableConfig = RequestConfig(
       RequestMethod.DELETE,
       "/appointments/{appointmentId}".replace("{"+"appointmentId"+"}", "$appointmentId"),
       query = localVariableQuery,
       headers = localVariableHeaders
    )
    val response = request<Unit>(localVariableConfig, requestBody)

    return when (response) {
      is Success<*> -> response.data as Unit
      is Informational<*> -> TODO()
      is Redirection<*> -> TODO()
      is ClientError<*> -> throw ClientException(response.body as? String ?: "Client error")
      is ServerError<*> -> throw ServerException(response.message ?: "Server error")
      else -> throw IllegalStateException("Undefined ResponseType.")
    }
  }
  /**
   *  Retrieve an Appointment
   *  Retrieves a specific appointment with respect to user permissions. The authenticated user will need the \&quot;can view all records\&quot; permission for Task/Appt/Notes
   *  * @param appointmentId appointmentId 
   *  * @return Appointment
   */ 
  @Suppress("UNCHECKED_CAST")
  fun getAppointment(appointmentId: Long) : Appointment {
    val requestBody = null
    val localVariableQuery: MultiValueMap = mutableMapOf()

    val contentHeaders: Map<String, String> = mapOf()
    val acceptsHeaders: Map<String, String> = mapOf("Accept" to "application/json")
    val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
    localVariableHeaders.putAll(contentHeaders)
    localVariableHeaders.putAll(acceptsHeaders)

    val localVariableConfig = RequestConfig(
       RequestMethod.GET,
       "/appointments/{appointmentId}".replace("{"+"appointmentId"+"}", "$appointmentId"),
       query = localVariableQuery,
       headers = localVariableHeaders
    )
    val response = request<Appointment>(localVariableConfig, requestBody)

    return when (response) {
      is Success<*> -> response.data as Appointment
      is Informational<*> -> TODO()
      is Redirection<*> -> TODO()
      is ClientError<*> -> throw ClientException(response.body as? String ?: "Client error")
      is ServerError<*> -> throw ServerException(response.message ?: "Server error")
      else -> throw IllegalStateException("Undefined ResponseType.")
    }
  }
  /**
   *  List Appointments
   *  Retrieves all appointments for the authenticated user
   *  * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
   *  * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
   *  * @param limit Sets a total of items to return (optional)
   *  * @param offset Sets a beginning range of items to return (optional)
   *  * @param contactId Optionally find appointments with a contact (optional)
   *  * @return AppointmentList
   */ 
  @Suppress("UNCHECKED_CAST")
  fun listAppointments(since: String? = null, until: String? = null, limit: Int? = null, offset: Int? = null, contactId: Long? = null) : AppointmentList {
    val requestBody = null
    val localVariableQuery: MultiValueMap = mutableMapOf()
    if (since != null) localVariableQuery["since"] = listOf("$since")
    if (until != null) localVariableQuery["until"] = listOf("$until")
    if (limit != null) localVariableQuery["limit"] = listOf("$limit")
    if (offset != null) localVariableQuery["offset"] = listOf("$offset")
    if (contactId != null) localVariableQuery["contact_id"] = listOf("$contactId")

    val contentHeaders: Map<String, String> = mapOf()
    val acceptsHeaders: Map<String, String> = mapOf("Accept" to "application/json")
    val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
    localVariableHeaders.putAll(contentHeaders)
    localVariableHeaders.putAll(acceptsHeaders)

    val localVariableConfig = RequestConfig(
       RequestMethod.GET,
       "/appointments",
       query = localVariableQuery,
       headers = localVariableHeaders
    )
    val response = request<AppointmentList>(localVariableConfig, requestBody)

    return when (response) {
      is Success<*> -> response.data as AppointmentList
      is Informational<*> -> TODO()
      is Redirection<*> -> TODO()
      is ClientError<*> -> throw ClientException(response.body as? String ?: "Client error")
      is ServerError<*> -> throw ServerException(response.message ?: "Server error")
      else -> throw IllegalStateException("Undefined ResponseType.")
    }
  }
  /**
   *  Retrieve Appointment Model
   *  Get the custom fields for the Appointment object
   *  * @return ObjectModel
   */ 
  @Suppress("UNCHECKED_CAST")
  fun retrieveAppointmentModel() : ObjectModel {
    val requestBody = null
    val localVariableQuery: MultiValueMap = mutableMapOf()

    val contentHeaders: Map<String, String> = mapOf()
    val acceptsHeaders: Map<String, String> = mapOf("Accept" to "application/json")
    val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
    localVariableHeaders.putAll(contentHeaders)
    localVariableHeaders.putAll(acceptsHeaders)

    val localVariableConfig = RequestConfig(
       RequestMethod.GET,
       "/appointments/model",
       query = localVariableQuery,
       headers = localVariableHeaders
    )
    val response = request<ObjectModel>(localVariableConfig, requestBody)

    return when (response) {
      is Success<*> -> response.data as ObjectModel
      is Informational<*> -> TODO()
      is Redirection<*> -> TODO()
      is ClientError<*> -> throw ClientException(response.body as? String ?: "Client error")
      is ServerError<*> -> throw ServerException(response.message ?: "Server error")
      else -> throw IllegalStateException("Undefined ResponseType.")
    }
  }
  /**
   *  Replace an Appointment
   *  Replaces all values of a given appointment
   *  * @param appointmentId appointmentId 
   *  * @param appointmentDTO appointmentDTO 
   *  * @return Appointment
   */ 
  @Suppress("UNCHECKED_CAST")
  fun updateAppointment(appointmentId: Long, appointmentDTO: Appointment) : Appointment {
    val requestBody = appointmentDTO
    val localVariableQuery: MultiValueMap = mutableMapOf()

    val contentHeaders: Map<String, String> = mapOf()
    val acceptsHeaders: Map<String, String> = mapOf("Accept" to "application/json")
    val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
    localVariableHeaders.putAll(contentHeaders)
    localVariableHeaders.putAll(acceptsHeaders)

    val localVariableConfig = RequestConfig(
       RequestMethod.PUT,
       "/appointments/{appointmentId}".replace("{"+"appointmentId"+"}", "$appointmentId"),
       query = localVariableQuery,
       headers = localVariableHeaders
    )
    val response = request<Appointment>(localVariableConfig, requestBody)

    return when (response) {
      is Success<*> -> response.data as Appointment
      is Informational<*> -> TODO()
      is Redirection<*> -> TODO()
      is ClientError<*> -> throw ClientException(response.body as? String ?: "Client error")
      is ServerError<*> -> throw ServerException(response.message ?: "Server error")
      else -> throw IllegalStateException("Undefined ResponseType.")
    }
  }
  /**
   *  Update an Appointment
   *  Updates the provided values of a given appointment
   *  * @param appointmentId appointmentId 
   *  * @param appointmentDTO appointmentDTO 
   *  * @return Appointment
   */ 
  @Suppress("UNCHECKED_CAST")
  fun updatePropertiesOnAppointment(appointmentId: Long, appointmentDTO: Appointment) : Appointment {
    val requestBody = appointmentDTO
    val localVariableQuery: MultiValueMap = mutableMapOf()

    val contentHeaders: Map<String, String> = mapOf()
    val acceptsHeaders: Map<String, String> = mapOf("Accept" to "application/json")
    val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
    localVariableHeaders.putAll(contentHeaders)
    localVariableHeaders.putAll(acceptsHeaders)

    val localVariableConfig = RequestConfig(
       RequestMethod.PATCH,
       "/appointments/{appointmentId}".replace("{"+"appointmentId"+"}", "$appointmentId"),
       query = localVariableQuery,
       headers = localVariableHeaders
    )
    val response = request<Appointment>(localVariableConfig, requestBody)

    return when (response) {
      is Success<*> -> response.data as Appointment
      is Informational<*> -> TODO()
      is Redirection<*> -> TODO()
      is ClientError<*> -> throw ClientException(response.body as? String ?: "Client error")
      is ServerError<*> -> throw ServerException(response.message ?: "Server error")
      else -> throw IllegalStateException("Undefined ResponseType.")
    }
  }
}
